<header id="head">
  <!-- <img src="/images/jacknlawson.jpg" width="298" height="200" alt="A photo of Jack Lawson in his study" /> -->
  <div class="centrecontent">
    <div id="headmaintext">JACK N. LAWSON</div>
    <div id="headtagline">author&#8226;speaker&#8226;trainer</div>
  </div>

  <div id="menu" class="centrecontent">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/aboutjack">About</a></li>
    <li><a href="/doingtime">Doing Time</a>
    <ul>
      <li><a href="/jacksthoughts">Reflections about 'Doing Time'</a></li>
    </ul>
    </li>
    <li><a href="/training">Training</a>
    <ul>
      <li><a href="/mbti">Psychometric Tools for Self- and Group-understanding and Awareness</a></li>
      
      <li><a href="/montgomerytrust">Montgomery Trust</a></li>
     
    </ul>
    </li>
    <li><a href="/training">Hebrew Bible/Old Testament</a>
    <ul>
  
      <li><a href="/jesustroublesomejew">Jesus the Troublesome Jew</a></li>
    
      <li><a href="/joyoftexts">The Joy of Texts</a></li>
            <li><a href="/biblicalhebrew">Biblical Hebrew</a></li>
            <li><a href="/costs">Costs</a></li>
    </ul>
    </li>
    <li><a href="/research">Research</a>
    <ul>
      <li><a href="/exploringthewordofgodinscripture">Exploring the Word of God in Scripture</a></li>
      <li><a href="/islifeafix">Is life a fix?</a></li>
      <li><a href="/melammusymposium">Mesopotamian Precursors to the Stoic Concept of Logos</a></li>
      <li><a href="/ocdanddivination">Obsessive-Compulsive Disorder and Divination</a></li>
      <li><a href="/prophet-and-preacher">The Prophet and the Preacher</a></li>
      <li><a href="/thegodwhorevealssecrets">The God who reveals secrets</a></li>
      </ul>
    </li>
    <li><a href="/contactjack">Contact </a></li>
  </ul>
  </div>
</header>
