<!DOCTYPE html>
<html>

  {% include head.html %}

  <body {% if page.permalink contains 'respite' %}class="respite"{% endif %}>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper" id="pageheader">
        <div class="centrecontent">
          <h1>{{ page.smalltitle }}</h1>
          <p class="leader">
            {{ page.leader }}
          </p>
          {% if page.promolink %}
            <p class="leaderlink">{{ page.promolink }}</p>
          {% endif %}
          {% if page.promoimg %}
            {{ page.promoimg }}
          {% endif %}
        </div>
      </div>

    <div class="centrecontent centre">
      {{ page.content | markdownify }}
    </div>
    

      </div>
  

    {% include footer.html %}

  </body>

</html>
