<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper" id="pageheader">
        <div class="centrecontent">
          <h1>{{ page.smalltitle }}</h1>
          <p class="leader">
            {{ page.leader }}
          </p>
          {% if page.promolink %}
            <p class="leaderlink">{{ page.promolink }}</p>
          {% endif %}
          {% if page.promoimg %}
            {{ page.promoimg }}
          {% endif %}
        </div>
      </div>

    <div class="centrecontent centre">
    <p>I have a great love of  introducing the Hebrew Scriptures/Old Testament to adult learners.&nbsp; Below is a sample of seminars I have given  for church groups, lay preachers, Lay Readers and others.&nbsp; I am happy to lead church weekends or  day-long seminars.</p>
    <div class="course">
  <img class="imgfloat" src="/images/scrollsscribesscribblings.jpg" alt="Scrolls, Scribes, Scribblings and Revelation" height="200" width="250" />
  <h2>Scrolls, Scribes, Scribblings and Revelation </h2><p>
      An examination into the  nature, transmission and collection of Holy Writ, considering the question:  &ldquo;Why is the Bible not a book?&rdquo; We will look at problems inherent in translation  and interpretation. The impact of the Dead Sea Scrolls on biblical studies and  the formation of Old Testament canon are also explored. </p>
    </div>

    <div class="course">
      <img class="imgfloat" src="/images/ihaveadream.jpg" alt="I have a dream, the story of Joseph" height="200" width="250" />
   <h2>&ldquo;I have a dream&rdquo; &ndash; the story of Joseph (Genesis 37, 39-40) </h2><p>
      The Joseph story comprises the  longest single narrative in the Pentateuch. This well-crafted story contains  love/hate, favouritism/jealousy, sibling rivalry, seduction, vengeance,  disaster and finally reconciliation! We will examine the story of Joseph in its  ancient Near Eastern setting. We will explore comparative literature from  surrounding cultures and the place of dreams in the ancient Near East.</p>
    </div>
     <div class="course">
      <img class="imgfloat" src="/images/thegodinourgenes.jpg" alt="The God in our Genes" height="200" width="250" />
    <h2>The God in Our Genes: Genesis, Creation &amp; Humanity </h2><p>
      An examination of Genesis 1-3  against the backdrop of earlier creation stories from the ancient Near East.  Through this exploration we will see the uniqueness of the Judeo-Christian  understanding of humanity/creation as opposed to the view commonly held at the  time of their writing. </p>
     </div>
     <div class="course">
      <img class="imgfloat" src="/images/funwithfish.jpg" alt="The Jonah Story" height="200" width="250" />
    <h2>Fun with Fish!: The Jonah Story </h2><p>
      Using the Hebrew  text&mdash;translated by the presenter!&mdash;we will explore the various levels of meaning  within Jonah. We will see how the writer used pun, irony, jokes and repetition  to create this memorable tale. So come and find out the connection between  Jonah and the Marx Brothers!</p>
    </div>
     <div class="course">
      <img class="imgfloat" src="/images/sexliesmurderkingship.jpg" alt="Sex, lies, murder, Kingdship" height="200" width="250" />
    <h2>Sex, Lies, Murder &amp; Kingship&mdash;Wrapped in Irony!&nbsp; (2 Samuel 11-12)</h2><p>
      An in-depth examination of the  David and Bathsheba narrative through the eyes of the anonymous &lsquo;court  historian&rsquo;.&nbsp; Find out why &quot;Big  Brother&quot; and tabloid news have nothing on the Bible!&nbsp; We will examine David&rsquo;s character both as a  man as well as state leader.&nbsp; David is  described in scripture as &ldquo;a man after God&rsquo;s own heart,&rdquo; yet in 2 Samuel 11 we  meet a philanderer, rogue and murderer!&nbsp;  If this were written by the &ldquo;court historian&rdquo;, how did he get away with  it?&nbsp; We will investigate what he has  chosen to write as well consider the &lsquo;gaps&rsquo; in the text.&nbsp; All-in-all, this should be a real  &lsquo;eye-opener&rsquo; for those unacquainted with Hebrew narrative technique.</p>
     </div>
     <div class="course">
      <img class="imgfloat" src="/images/takemywife.jpg" alt="Take my wife, please" height="200" width="250" />
    <h2>&ldquo;Take  my wife... <em>Please</em>!: The Patriarchs&rsquo; &lsquo;Sister Act&rsquo;&rdquo;(Genesis 12:10-20; 20:1-18 &amp; 26:1-16)</h2><p>
      As with Henny Youngman&rsquo;s  one-liner in the title, Jewish  humour did not start in a vacuum.&nbsp; All  languages and cultures&mdash;old and new&mdash;rely on devices, techniques and idiomatic  expressions in order to communicate meaning.&nbsp;  The Bible is no exception.&nbsp; So  what&rsquo;s up with Abram &amp; Sarai, Isaac and Rebekah?&nbsp; Why the &lsquo;sister act&rsquo;: &ldquo;She&rsquo;s not my <em>wife</em>, she&rsquo;s my <em>sister</em>&rdquo;?&nbsp; As  inheritors of the Judaeo-Christian faith &amp; tradition, it is our natural  tendency to believe that the patriarchs and matriarchs of our faith are above  reproach; faithful &amp; virtuous.&nbsp; How  are we to understand their bizarre behaviour?&nbsp;  In this seminar we will examine rich interplay of repetition, gaps in  the text, cultural stereotyping, as well as the common humanity of our biblical  forebears.</p>
    </div>

    <div class="course">
      <img class="imgfloat" src="/images/letussing.jpg" alt="Let us sing unto the Lord" height="200" width="250" />
    <h2>&quot;Let Us Sing unto the Lord&quot;: Psalms</h2><p>
What is a &lsquo;psalm&rsquo;?  Like so much of our English Bible, the term 'psalm' comes to us from the Greek translations—&lsquo;psalmos&rsquo;/ψαλμός (a song sung to a stringed instrument).  The book itself is called <em>tehillîm,</em> from Hebrew <em>tehillâ,</em> meaning &lsquo;praise&rsquo; or &lsquo;song of praise&rsquo;.  Yet even a cursory reading of the Psalms makes clear that the collection is much wider than &lsquo;songs of praise&rsquo;—rather we find laments, confessions, pleas for help and more.  It&rsquo;s also the case that through our liturgy and hymnology, Psalms remains one of the most-used &amp; best-loved books of the Bible.  This seminar is for anyone interested in discovering the depth and breadth of the Psalter. </p>
    </div>

     <div class="course">
      <img class="imgfloat" src="/images/fearofthelord.jpg" alt="Let us sing unto the Lord" height="200" width="250" />
    <h2>&quot;The Fear of the Lord&quot;: Hebrew Wisdom Literature</h2><p>
        The study of the so-called wisdom literature of the Old Testament is both fascinating and frustrating.  These books are fraught with problems: the problem of authorship, the problem of date, the problem of provenance, and the problem of possible borrowing—not to mention that much of the theology contained in the wisdom books is very different from the historical and prophetic books.  In certain books—such as Ecclesiastes and Job—the question is begged as to whether it is &lsquo;wisdom&rsquo; or &lsquo;cynicism&rsquo; that is being presented to the reader.  If these problems excite your mind, then this seminar is for you.</p>
    </div>
    <div style="clear: both;" ></div>
      {{ page.content | markdownify }}
    </div>
    

      </div>
  

    {% include footer.html %}

  </body>

</html>
