<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div id="pageheader">
          <div class="centrecontent">
            <h1>Jack N. Lawson</h1>
            <p class="leader">
            I am an author, speaker and trainer working and living in East Anglia, England. On this site, you can find more
            information about my work and what I get up to. I am also the author of the novel 'Doing Time', a fictional account of
            a women's prison.
            </p>

            <p class="leaderlink">&#155; Find out more about '<a href="doingtime">Doing Time</a>' and <a href="/doingtime#buy">buy a signed copy</a>.</p>

            <img class="promo" src="images/jacknlawson.jpg" width="300" height="200" alt="A photo of Jack Lawson in his study" />
          </div>
      </div>

        <div class="centrecontent">

          <div class="contentbox">
            <h2>Author</h2>
            <p>'<a href="doingtime" title="Doing Time by Jack N Lawson">Doing Time</a>' is my first novel, set in a women's
            prison in the rural American South. Annabel Lee is wrongly convicted of a crime committed by her wayward husband
            and gets caught up in a spiral of abuse and violence from which she can't escape.</p>
          </div>

          <div class="contentbox">
            <h2>Trainer</h2>
            <p>I offer <a href="training">training</a> to numerous organisations. The type of training I offer includes, but is not limited to,
            <a href="mbti">Myers-Briggs Type Indicator</a>&trade; and the '<a href="joyoftexts">Joy of Texts</a>' series,
            which looks at different texts in the Hebrew Bible.</p>
          </div>

          <div class="contentbox">
            <h2>Research &amp; Publications</h2>
            <p>I actively engage in <a href="research">research</a> on various topics, including Biblical languages and the Ancient Near East.</p>
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
